<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "org.wmnf.wmnf"
	version 	= "2.0.0">

	<name>WMNF Mobile</name>

	<description>
		Listen to WMNF from anywhere in the world!
	</description>

	<author href="http://wmnf.github.com"
		email="web@wmnf.org">
		Matt Cowley
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>


	<icon src="icon.png" gap:role="default" />

  <gap:splash src="assets/img/splash/Default.png" width="320" height="480"/>
  <gap:splash src="assets/img/splash/Default@2x.png" width="640" height="960"/>

	<feature name="http://api.phonegap.com/1.0/network"/>

	<!-- sample preference specification -->
	<!-- <preference name="autorotate" value="false" readonly="true"/> -->
	<preference name="target-device" value="universal" />
	<preference name="orientation" value="portrait" />
</widget>